.container {
  font-size: 18px;
  width: 100%;
}

.header {
  padding: 20px;
  background-color: aqua;
}

.user-header > h2 {
  margin: 0px;
  margin-left: 30px;
}

.main table {
  margin: 20px auto;
}
